{% extends 'base.html.twig' %}

{% block title %}Hello GlobalController!{% endblock %}

{% block body %}

    <h1>Ta Todolist à toi 😎 </h1>
    <p>Commence par te créer un compte ou connecte-toi pour accéder à ta todolist</p>
    
{% endblock %}
